In [1]:
#importing different libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sbn
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings("ignore")   # ignore if any warnings are there

In [16]:
# loading the dataset
data = pd.read_csv(r"C:\Jupyter\DSML\DSML\Logistic Regression\Titanic\titanic_filtered.csv")
df = pd.DataFrame(data)

In [10]:
#getting the basic info of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1307 entries, 0 to 1306
Data columns (total 12 columns):
Unnamed: 0      1307 non-null int64
Unnamed: 0.1    1307 non-null int64
pclass          1307 non-null int64
survived        1307 non-null int64
name            1307 non-null object
gender          1307 non-null object
age             1307 non-null float64
sibsp           1307 non-null int64
parch           1307 non-null int64
ticket          1307 non-null object
fare            1307 non-null float64
embarked        1307 non-null object
dtypes: float64(2), int64(6), object(4)
memory usage: 122.6+ KB

In [11]:
#check for missing values
df.isnull().sum()

Unnamed: 0      0
Unnamed: 0.1    0
pclass          0
survived        0
name            0
gender          0
age             0
sibsp           0
parch           0
ticket          0
fare            0
embarked        0
dtype: int64

In [17]:
#dropping the unnecssary column from the dataset
df.drop(['name','ticket'],axis=1,inplace=True)

In [18]:
df = pd.get_dummies(df)

In [19]:
df.head(3)

,Unnamed: 0,Unnamed: 0.1,pclass,survived,age,sibsp,parch,fare,gender_female,gender_male,embarked_C,embarked_Q,embarked_S
0,0,0,1,1,29.0000,0,0,211.34,1,0,0,0,1
1,1,1,1,1,0.9167,1,2,151.55,0,1,0,0,1
2,2,2,1,0,2.0000,1,2,151.55,1,0,0,0,1

In [20]:
x=df.drop('survived',axis=1)
y=df.survived

In [21]:
#spiltting the dataset into train and test dataset
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.33,random_state=101)

In [22]:
model = LogisticRegression()
model.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [23]:
#predecting the value of y_pred
y_pred = model.predict(x_test)

In [24]:
#checking the accuracy score
accuracy_score(y_pred,y_test)

0.7939814814814815

In [25]:
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       0.83      0.84      0.83       268
           1       0.73      0.72      0.73       164

   micro avg       0.79      0.79      0.79       432
   macro avg       0.78      0.78      0.78       432
weighted avg       0.79      0.79      0.79       432

In [26]:
print(confusion_matrix(y_pred,y_test))

[[225  43]
 [ 46 118]]